
## <summary>policy for doncoin</summary>


########################################
## <summary>
##	Transition to doncoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`doncoin_domtrans',`
	gen_require(`
		type doncoin_t, doncoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, doncoin_exec_t, doncoin_t)
')


########################################
## <summary>
##	Execute doncoin server in the doncoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`doncoin_initrc_domtrans',`
	gen_require(`
		type doncoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, doncoin_initrc_exec_t)
')


########################################
## <summary>
##	Search doncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`doncoin_search_lib',`
	gen_require(`
		type doncoin_var_lib_t;
	')

	allow $1 doncoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read doncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`doncoin_read_lib_files',`
	gen_require(`
		type doncoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, doncoin_var_lib_t, doncoin_var_lib_t)
')

########################################
## <summary>
##	Manage doncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`doncoin_manage_lib_files',`
	gen_require(`
		type doncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, doncoin_var_lib_t, doncoin_var_lib_t)
')

########################################
## <summary>
##	Manage doncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`doncoin_manage_lib_dirs',`
	gen_require(`
		type doncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, doncoin_var_lib_t, doncoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an doncoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`doncoin_admin',`
	gen_require(`
		type doncoin_t;
		type doncoin_initrc_exec_t;
		type doncoin_var_lib_t;
	')

	allow $1 doncoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, doncoin_t)

	doncoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 doncoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, doncoin_var_lib_t)

')

